<%= form_for @new_notification, method: :create do |f| %>
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, { class: 'form-control' } %>
    </div>
    <div class="form-group">
        <%= f.label :scheduled_at %>
        <%= f.datetime_select :scheduled_at, { class: 'form-control' } %>
    </div>
    <%= f.submit "Create Notification", { class: 'btn btn-info' } %>
<% end %>

