<h1>Group <%= @group.id %> for <%= @group.game.title %></h1>
<%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Edit', edit_group_path(@group) %><br>

<h2>
<% if @group.max_users.present? %>
    <%= @group.usercount %>/<%= @group.max_users %>
<% else %>
    <%= @group.usercount %>
<% end %>
 Users
</h2>

<% for user in @group.users %>
    <%= link_to user.name, user %><br>
<% end %>
<h2>Notes</h2>
<%= @group.notes %>
